@charset "UTF-8";
body {
  color: #000;
  word-break: break-all;
  font-size: 18px;
  font-family: "筑紫A丸ゴシック", serif;
  line-height: 1.8;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 40px;
  line-height: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "MS P明朝", "MS PMincho", serif;
}

span {
  font-family: "筑紫A丸ゴシック", serif;
}

.openbtn {
  position: relative;
  z-index: 9999;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .openbtn {
    width: 50px;
  }
}
.openbtn span {
  position: absolute;
  left: 14px;
  display: inline-block;
  width: 50%;
  height: 3px;
  border-radius: 2px;
  background-color: #000;
  transition: all 0.4s;
}
@media screen and (max-width: 480px) {
  .openbtn span {
    width: 80%;
  }
}
.openbtn span:nth-of-type(1) {
  top: 10px;
}
.openbtn span:nth-of-type(2) {
  top: 25px;
}
.openbtn span:nth-of-type(3) {
  top: 40px;
}
.openbtn p {
  position: absolute;
  top: 15px;
  left: 70px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .openbtn p {
    display: none;
  }
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 10px;
  width: 60%;
  transform: translateY(6px) rotate(-45deg);
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 10px;
  width: 60%;
  transform: translateY(-6px) rotate(45deg);
}

#g-nav {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.6s;
}
#g-nav.panelactive {
  top: 0;
}
#g-nav ul {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}
#g-nav li {
  list-style: none;
  text-align: center;
}
#g-nav li a {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 32px;
}

.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}
.blurTrigger {
  opacity: 0;
}

.fadeIn {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadeInTrigger {
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.flipLeft {
  -webkit-animation-name: flipLeftAnime;
          animation-name: flipLeftAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  perspective-origin: left center;
}

.flipLeftTrigger {
  opacity: 0;
}

@-webkit-keyframes flipLeftAnime {
  from {
    opacity: 0;
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
  }
  to {
    opacity: 1;
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
  }
}

@keyframes flipLeftAnime {
  from {
    opacity: 0;
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
  }
  to {
    opacity: 1;
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
  }
}
.zoomIn {
  -webkit-animation-name: zoomInAnime;
          animation-name: zoomInAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.zoomInTrigger {
  opacity: 0;
}

@-webkit-keyframes zoomInAnime {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomInAnime {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header_container {
  position: fixed;
  top: 40px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  width: 94%;
}
@media screen and (max-width: 480px) {
  .header_container {
    width: 92%;
  }
}
.header_container .site-title a {
  color: #a0d8ef;
}
@media screen and (max-width: 480px) {
  .header_container .site-title a {
    font-size: 30px;
  }
}
.header_container .recruit_btn {
  padding: 4px 19px;
  border: 1px solid #000;
  background-color: #fff;
}
.header_container .recruit_btn:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.6s;
}
.header_container .header_line {
  display: inline-block;
  width: 33%;
  height: 2px;
  background-color: #000;
  content: "";
}
@media screen and (max-width: 1024px) {
  .header_container .header_line {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .header_container .header_line {
    width: 15%;
  }
}
@media screen and (max-width: 480px) {
  .header_container .header_line {
    display: none;
    width: 0%;
  }
}

.top {
  padding-top: 1%;
}
.top_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 98%;
  height: 97vh;
  background-image: url("../images/mainvisual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% center;
}
@media screen and (max-width: 1024px) {
  .top_container {
    height: 99vh;
  }
}
.top_text {
  color: #fff;
  font-size: 60px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .top_text {
    font-size: 40px;
  }
}

.company .section_title {
  margin-top: 10px;
}
.company_photo {
  display: flex;
  flex-wrap: wrap;
}
.company_photo li {
  margin-right: 1%;
  margin-bottom: 1%;
  width: 24.25%;
  height: 40vh;
}
@media screen and (max-width: 768px) {
  .company_photo li {
    width: 49.5%;
  }
  .company_photo li:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .company_photo li {
    height: 25vh;
  }
}
.company_photo li:last-child {
  margin-right: 0;
}
.company_photo li img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.company_container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .company_container {
    flex-direction: column;
  }
}
.company_text {
  width: 44%;
  margin-top: 2%;
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .company_text {
    margin: 5% 0;
    width: 90%;
    padding-left: 10%;
  }
}
.company_text h4 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 40px;
  line-height: 2em;
}
@media screen and (max-width: 480px) {
  .company_text h4 {
    line-height: 1.5em;
    font-size: 24px;
    font-weight: bold;
  }
}
.company_text p {
  width: 80%;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .company_text p {
    width: 90%;
  }
}
.company_img {
  width: 49.5%;
  height: 55vh;
}
@media screen and (max-width: 768px) {
  .company_img {
    width: 100%;
  }
}
.company_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 9% center;
     object-position: 9% center;
}

.job {
  padding-top: 100px;
}
.job .section_title {
  margin-bottom: 100px;
  text-align: center;
}
.job_item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .job_item {
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  .job_item {
    height: 40vh;
  }
}
.job_bg {
  width: 100%;
  height: 80vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 500px 0 300px -100px rgba(0, 0, 0, 0.3) inset;
  transition: transform 0.6s ease;
}
@media screen and (max-width: 768px) {
  .job_bg {
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  .job_bg {
    height: 40vh;
  }
}
.job_bg:hover {
  transform: scale(1.05);
}
.job_text {
  position: absolute;
  top: calc(50% - 150px);
  left: 10%;
}
@media screen and (max-width: 480px) {
  .job_text {
    top: calc(50% - 90px);
  }
}
.job_text h4 {
  margin-bottom: 15%;
  color: #fff;
  font-size: 40px;
}
@media screen and (max-width: 480px) {
  .job_text h4 {
    font-size: 24px;
    margin-bottom: 8%;
  }
}
.job_text p {
  display: inline-block;
  padding: 4px 16px;
  background-color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .job_text p {
    font-size: 16px;
  }
}
.job .item1 {
  background-image: url("../images/job1.jpg");
}
.job .item2 {
  background-image: url("../images/job2.jpg");
}
.job .item3 {
  background-image: url("../images/job3.jpg");
}
.job .item4 {
  background-image: url("../images/job4.jpg");
  background-position: 20% center;
}

.interview {
  padding-top: 100px;
  border-bottom: 1px solid #000;
  padding-bottom: 50px;
  position: relative;
}
.interview::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: solid 1px #000;
  position: absolute;
  left: 0px;
  bottom: -8px;
}
.interview .section_title {
  margin-bottom: 100px;
  text-align: center;
}
.interview_item {
  width: 350px;
  height: 600px;
  margin: 0 25px;
  opacity: 0.6;
  transition: 1s;
  background-color: #fff;
}
.interview .slick-active {
  opacity: 1;
}
.interview_img {
  height: 400px;
}
@media screen and (max-width: 768px) {
  .interview_img {
    height: 300px;
  }
}
.interview_img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.interview .item1 img {
  -o-object-position: 70% 50%;
     object-position: 70% 50%;
}
.interview_text {
  padding: 5% 8%;
}
.interview_text span {
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.interview_text h5 {
  font-size: 30px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .interview_text h5 {
    font-size: 24px;
  }
}

.prev, .next {
  width: 35px;
  height: 35px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.prev {
  left: 10%;
  transform: rotate(-135deg);
}
.prev:hover {
  border-top: 2px solid #a0d8ef;
  border-right: 2px solid #a0d8ef;
  transition: 0.6s;
}

.next {
  right: 10%;
  transform: rotate(45deg);
}
.next:hover {
  border-top: 2px solid #a0d8ef;
  border-right: 2px solid #a0d8ef;
  transition: 0.6s;
}

.entry {
  padding: 100px 0;
}
.entry .section_title {
  margin-bottom: 100px;
  text-align: center;
}
.entry .inner {
  text-align: center;
  margin: 0 auto;
  width: 95%;
}
.entry_form {
  display: inline-block;
  margin: 0 auto;
}
.entry_form_title {
  width: 150px;
  height: 100%;
  font-size: 24px;
  text-align: left;
}
.entry_form_box {
  padding-left: 8px;
  width: 310px;
  height: 40px;
  border-width: 1px;
  background-color: #ECECEC;
  font-size: 24px;
}
.entry_form_select {
  padding: 7px;
  width: 323px;
  height: 45px;
  background-color: #ECECEC;
  font-size: 24px;
}
.entry_form_textarea {
  margin-bottom: 40px;
  padding: 7px;
  width: 310px;
  height: 180px;
  background-color: #ECECEC;
  font-size: 24px;
}
.entry_box {
  display: flex;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .entry_box {
    flex-direction: column;
  }
}
.entry_box:last-child {
  margin-bottom: 0;
}
.entry_button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: "筑紫A丸ゴシック", serif;
  cursor: pointer;
  border: none;
  transition: all 0.6s;
}
.entry_button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.entry_text {
  margin-top: 100px;
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .entry_text {
    font-size: 45px;
  }
}
@media screen and (max-width: 480px) {
  .entry_text {
    font-size: 24px;
  }
}

footer {
  padding: 100px 0 20px;
  background-color: #eee;
  text-align: center;
}
footer .site_title a {
  color: #a0d8ef;
}
@media screen and (max-width: 480px) {
  footer .site_title a {
    font-size: 36px;
  }
}

.footer_list {
  display: flex;
  justify-content: center;
  margin: 70px auto 50px;
}
@media screen and (max-width: 480px) {
  .footer_list {
    align-items: center;
    flex-direction: column;
    width: 150px;
    border-left: solid 3px #a0d8ef;
    padding: 10px 0;
  }
}
.footer_item {
  margin-right: 20px;
  padding-right: 28px;
  border-right: solid 3px #a0d8ef;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .footer_item {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    margin-bottom: 20px;
  }
}
.footer_item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
@media screen and (max-width: 480px) {
  .footer_item:last-child {
    margin-bottom: 0;
  }
}
.footer_item a:hover {
  color: #a0d8ef;
}
.footer_text {
  font-size: 15px;
}

#page-top {
  position: fixed;
  right: 30px;
  bottom: 10px;
  z-index: 2;
  opacity: 0;
  transform: translateX(100px);
}
#page-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: #a0d8ef;
  text-align: center;
  font-weight: bold;
  transition: all 0.6s;
}
#page-top.LeftMove {
  -webkit-animation: LeftAnime 0.6s forwards;
          animation: LeftAnime 0.6s forwards;
}
#page-top.RightMove {
  -webkit-animation: RightAnime 0.5s forwards;
          animation: RightAnime 0.5s forwards;
}

@-webkit-keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(200px);
  }
}
@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(200px);
  }
}
.inner {
  padding: 1%;
}

.section_title {
  font-size: 60px;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .section_title {
    font-size: 35px;
  }
}

span {
  font-weight: bold;
  color: #a0d8ef;
  font-size: 24px;
}