
$cBlack: #000;
$cWhite: #fff;
$cBlue: #a0d8ef;
$cGray_pale: #ECECEC;
$cfooter_bg: #eee;


$font: '筑紫A丸ゴシック', serif;
$Bfont: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','MS P明朝', 'MS PMincho', serif;
